<div class="cpro">
<h1>Take It Easy</h1>
<div class="cpro_meta">Artist: The Eagles<br/>
Year: 1972<br/>
Album: Eagles<br/>
</div>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>|:</strong>&nbsp;</div>
<div class="lyric"></div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric"></div></div>
<div class="cpro_line_section"><div class="chord"><strong>...</strong>&nbsp;</div>
<div class="lyric"></div></div>
<div class="cpro_line_section"><div class="chord"><strong>|</strong>&nbsp;</div>
<div class="lyric"></div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric"></div></div>
<div class="cpro_line_section"><div class="chord"><strong>...</strong>&nbsp;</div>
<div class="lyric"></div></div>
<div class="cpro_line_section"><div class="chord"><strong>|</strong>&nbsp;</div>
<div class="lyric"></div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric"></div></div>
<div class="cpro_line_section"><div class="chord"><strong>...</strong>&nbsp;</div>
<div class="lyric"></div></div>
<div class="cpro_line_section"><div class="chord"><strong>|</strong>&nbsp;</div>
<div class="lyric"></div></div>
<div class="cpro_line_section"><div class="chord"><strong>D7sus4</strong>&nbsp;</div>
<div class="lyric"></div></div>
<div class="cpro_line_section"><div class="chord"><strong>:|</strong>&nbsp;</div>
<div class="lyric"></div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric"></div></div>
<div class="cpro_line_section"><div class="chord"><strong>...</strong>&nbsp;</div>
<div class="lyric"></div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric"></div></div>
<div class="cpro_line_section"><div class="chord"><strong>...</strong>&nbsp;</div>
<div class="lyric"></div></div>
<div class="cpro_line_section"><div class="chord"><strong>|</strong>&nbsp;</div>
<div class="lyric"></div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_comment">Intro</div></div>
<div class='cpro_clear'></div>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_verse"><div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Well I'm a-</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">runnin' down the road try'n to loosen my load</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">I've got seven women &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">on my &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">mind</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">Four that wanna own me, &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">two that wanna stone me,</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">One says she's a friend of &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">mine</div></div>
</div>
<div class='cpro_clear'></div>
</div>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_chorus"><div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Take it &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">ea-</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">sy, take it &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">ea-</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">sy</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Don't let the &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">sound of your own &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">wheels drive you &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">cra</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">zy</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Lighten &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">up while you still &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">can</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Don't even &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">try to under</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">stand</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Just find a &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">place to make your &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">stand and take it &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">ea-</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">sy</div></div>
</div>
<div class='cpro_clear'></div>
</div>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_verse"><div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Well I'm a-</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">standing on a corner in Winslow, Arizona</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Such a fine &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">sight to &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">see</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">It's a &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">girl my Lord in a &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">flat-bed&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> Ford</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Slowin' &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">down to take a look at &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">me</div></div>
</div>
<div class='cpro_clear'></div>
</div>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_chorus"><div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Come on &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">ba-</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">by, don’t say &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">may-</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">be</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">I gotta &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">know if your sweet &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">love is gonna &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">save&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">me</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">We may &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">lose and we may &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">win</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Though we may &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">never be here a</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">gain</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">So open &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">up I'm climbin' &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">in, so take it &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">ea-</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">sy</div></div>
</div>
<div class='cpro_clear'></div>
</div>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_verse"><div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Well I'm a &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">runnin' down the road tryin' to loosen my load</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Got a world of trouble &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">on my &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">mind</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">Lookin' for a lover who &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">won't blow my cover</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">She's &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">so hard to &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">find</div></div>
</div>
<div class='cpro_clear'></div>
</div>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_chorus"><div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Take it &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">ea-</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">sy,  take it &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">ea-</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">sy,</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Don't let the &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">sound of your own &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">wheels drive you</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">cra</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">zy.</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Come on &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">ba</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">by, don't say &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">may</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">be,</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">I gotta &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">know if your sweet &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">love is gonna &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">save&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> me</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">.</div></div>
</div>
<div class='cpro_clear'></div>
</div>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_comment">Outro</div></div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">Oh oh oh, oh oh oh</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">Oh oh oh, oh oh oh</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">Oh oh oh, oh oh oh</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">Oh oh oh, oh oh oh</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">Oh oh oh, oh oh oh</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Oh we got it &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">e - &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G7</strong>&nbsp;</div>
<div class="lyric">e - &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">asy</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">We oughta take it &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">e - &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G7</strong>&nbsp;</div>
<div class="lyric">e - &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">asy</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"> 
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_comment">Ending</div></div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric"></div></div>
</div>
<div class='cpro_clear'></div>
<p>&nbsp;</p>
</div>
