<div class="cpro">
<h1>Killing Me Softly With his Song</h1>
<h2>Gimbel/Fox</h2>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">I heard he &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">sang a good song, &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">I heard he &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">had a style</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">And so I &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">came to see him, to &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">listen for a &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">while</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">And there he &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">was this young boy, &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">a stranger &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>B7</strong>&nbsp;</div>
<div class="lyric">to my eyes</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"> 
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">Strumming my pain with his &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">fingers,&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">Singing my life with his &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">words</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">Killing me softly with &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>A</strong>&nbsp;</div>
<div class="lyric">his song, killing me &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">softly with his &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">song</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Telling my &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">whole life with his &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">words, killing me &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Fmaj7</strong>&nbsp;</div>
<div class="lyric">softly</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Fmaj7</strong>&nbsp;</div>
<div class="lyric">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;with his &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>E</strong>&nbsp;</div>
<div class="lyric">song</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"> 
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">I felt all &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">flushed with fever, &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">embarassed&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">by the crowd</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">I felt he &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">found my letters and &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">read each one out &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">loud</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">I prayed that &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">he would finish, &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">but he just &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>B7</strong>&nbsp;</div>
<div class="lyric">kept right on</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"> 
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_comment">chorus</div></div>
<div class='cpro_clear'></div>
<div class="cpro_line"> 
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">He sang as &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">if he knew me, &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">in all my &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">dark&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> despair</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">And then he &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">looked right through me as &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">if I wasn't &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">there</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">But he was &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">there this stranger, &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">singing&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>B7</strong>&nbsp;</div>
<div class="lyric">clear and strong</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"> 
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_comment">chorus</div></div>
<div class='cpro_clear'></div>
<p>&nbsp;</p>
</div>
