<div class="cpro">
<h2>Twinkle Twinkle Little Star</h2>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">Twin</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">kle,&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">twin</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">kle&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">lit</div></div>
<div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">tle&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">star.</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">How&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">I&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">won</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">der&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">what&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">you&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">are.</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">Up&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">a</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">bove&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">the&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">world&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">so&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">high,</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">Like&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">a&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">dia</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">mond&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">in&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">the&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">sky.</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">Twin</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">kle,&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">twin</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">kle&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">lit</div></div>
<div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">tle&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">star.</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">How&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">I&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">won</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">der&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">what&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">you&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">are.</div></div>
</div>
<div class='cpro_clear'></div>
</div>


<div class="cpro">
<h2>Old MacDonald</h2>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">Old&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">Mac</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">Don</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">ald&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">had&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">a&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">farm,</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">E&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">I&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">E&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">I&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">O,</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">And&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">on&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">his&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">farm&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">he&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">had&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">a&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">cow,</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">E&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">I&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">E&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">I&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">O,</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">With&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">a&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">moo&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">moo&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">here,</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">And&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">a&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">moo&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">moo&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">there,</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">Here&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">a&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">moo,&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">there&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">a&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">moo,</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">Eve</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">ry</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">where&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">a&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">moo&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">moo,</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">Old&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">Mac</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">Don</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">ald&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">had&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">a&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">farm,</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">E&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">I&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">E&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">I&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">O.</div></div>
</div>
<div class='cpro_clear'></div>
</div>

<div class="cpro">
<h2>Humpty Dumpty</h2>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">Hump</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">ty&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">Dumpty&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">sat&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">on&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>b</strong>&nbsp;</div>
<div class="lyric">a&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">wall,</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">Hump</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">ty&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">Dumpty&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">had&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">a&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">great&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">fall.</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">All&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">the&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">king's&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">hor</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">ses&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">and&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">all&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">the&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>b</strong>&nbsp;</div>
<div class="lyric">king's&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">men</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">Could</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">n't&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">put&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">Hump</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">ty&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">to</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">ge</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">ther&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">a</div></div>
<div class="cpro_line_section"><div class="chord"><strong>b</strong>&nbsp;</div>
<div class="lyric">gain</div></div>
</div>
<div class='cpro_clear'></div>
</div>
