<div class="cpro">
<h1>Twinkle Twinkle Little Star</h1>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">Twin</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">kle,&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">twin</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">kle&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">lit</div></div>
<div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">tle&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">star.</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">How&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">I&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">won</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">der&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">what&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">you&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">are.</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">Up&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">a</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">bove&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">the&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">world&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">so&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">high,</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">Like&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">a&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">dia</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">mond&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">in&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">the&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">sky.</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">Twin</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">kle,&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">twin</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">kle&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">lit</div></div>
<div class="cpro_line_section"><div class="chord"><strong>a</strong>&nbsp;</div>
<div class="lyric">tle&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>g</strong>&nbsp;</div>
<div class="lyric">star.</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">How&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>f</strong>&nbsp;</div>
<div class="lyric">I&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">won</div></div>
<div class="cpro_line_section"><div class="chord"><strong>e</strong>&nbsp;</div>
<div class="lyric">der&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">what&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>d</strong>&nbsp;</div>
<div class="lyric">you&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>c</strong>&nbsp;</div>
<div class="lyric">are.</div></div>
</div>
<div class='cpro_clear'></div>
</div>


