<div class="cpro">
<h1>Daydream Believer</h1>
<h2>The Monkees</h2>

<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_comment">Intro x2</div></div>
<div class='cpro_clear'></div>
<pre>
e|-7---7---7---7----8---8---8---8---|
B|-8---8---8---8----8---8---8---8---|
G|---7---7---7---7----7---7---7---7-|
D|----------------------------------|
A|----------------------------------|
E|----------------------------------|
</pre>

<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Oh, I could &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">hide 'neath the &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">wings</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">of the &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Bm</strong>&nbsp;</div>
<div class="lyric">bluebird as it &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">sings</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">The &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">six-o-clock&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">alarm would never &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>A7</strong>&nbsp;</div>
<div class="lyric">ring</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D7</strong>&nbsp;</div>
<div class="lyric"></div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">But it &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">rings and I &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">rise</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Wipe the &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Bm</strong>&nbsp;</div>
<div class="lyric">sleep out of my &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">eyes</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">My &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">shaving&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">razor's&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">cold&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D7</strong>&nbsp;</div>
<div class="lyric">and it &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">stings</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line">
</div>

<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_comment">Bridge</div></div>
<div class='cpro_clear'></div>
<pre>
E|---------------|
B|-0---0-1-0-----|
G|---2-------2-0-|
D|---------------|
A|---------------|
E|---------------|
</pre>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">Cheer up &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">sleepy&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Bm</strong>&nbsp;</div>
<div class="lyric">Jean</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Oh &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">what&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">can it &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">mean&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">to&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> a</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">Daydream&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> bel</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">iever and a.</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">..home</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">coming&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>A7</strong>&nbsp;</div>
<div class="lyric">queen</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D7</strong>&nbsp;</div>
<div class="lyric"></div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">You &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">once thought of &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">me</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">as a &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Bm</strong>&nbsp;</div>
<div class="lyric">white knight on a &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">steed</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">Now you know &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">how happy I(life) &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>A7</strong>&nbsp;</div>
<div class="lyric">can&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D7</strong>&nbsp;</div>
<div class="lyric">be</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">And our &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">good times start and &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Am</strong>&nbsp;</div>
<div class="lyric">end</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">without &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Bm</strong>&nbsp;</div>
<div class="lyric">dollar one to &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">spend</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">But &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">how much &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">baby&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">do we &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D7</strong>&nbsp;</div>
<div class="lyric">really&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">need</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_comment">bridge</div></div>
<div class='cpro_clear'></div>
<div class="cpro_line">
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">Cheer up &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">sleepy&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Bm</strong>&nbsp;</div>
<div class="lyric">Jean</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong></strong>&nbsp;</div>
<div class="lyric">Oh &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">what&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D</strong>&nbsp;</div>
<div class="lyric">can it &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">mean&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">to&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> a</div></div>
</div>
<div class='cpro_clear'></div>
<div class="cpro_line"><div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">Daydream&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> be</div></div>
<div class="cpro_line_section"><div class="chord"><strong>C</strong>&nbsp;</div>
<div class="lyric">liever and a.</div></div>
<div class="cpro_line_section"><div class="chord"><strong>G</strong>&nbsp;</div>
<div class="lyric">..home</div></div>
<div class="cpro_line_section"><div class="chord"><strong>Em</strong>&nbsp;</div>
<div class="lyric">coming&nbsp;</div>
</div>
<div class="cpro_line_section"><div class="chord">&nbsp;</div><div class="lyric"> &nbsp;</div></div>
<div class="cpro_line_section"><div class="chord"><strong>A7</strong>&nbsp;</div>
<div class="lyric">queen</div></div>
<div class="cpro_line_section"><div class="chord"><strong>D7</strong>&nbsp;</div>
<div class="lyric"></div></div>
</div>
<div class='cpro_clear'></div>
</div>

